# This is a basic workflow to help you get started with Actions

name: CI_VERSION

# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  workflow_dispatch:
    inputs:
      CurrentVersion:
        description: 'The current version'
        required: true
        type: string
      NewVersion:
        description: 'The new version'
        required: true
        type: string
        
# This workflow contains one job called "build_documentation"
jobs:
  update_version:
    # The type of runner that the job will run on
    runs-on: windows-2022

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:   
      # Runs a set of commands using the runners shell
      # Support longpaths
      - name: Support long paths
        run: git config --system core.longpaths true
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          fetch-depth: '1'
          submodules: 'true'

      - run: (Get-Content ${{ github.workspace }}\src\net\Common\Common.props).Replace('<Version>${{ inputs.CurrentVersion }}.0</Version>', '<Version>${{ inputs.NewVersion }}.0</Version>') | Set-Content ${{ github.workspace }}\src\net\Common\Common.props
      - run: (Get-Content ${{ github.workspace }}\src\net\templates\templates\kefcoreApp\kefcoreApp.csproj).Replace('${{ inputs.CurrentVersion }}', '${{ inputs.NewVersion }}') | Set-Content ${{ github.workspace }}\src\net\templates\templates\kefcoreApp\kefcoreApp.csproj
      - run: (Get-Content ${{ github.workspace }}\src\net\templates\templates\kefcoreAppWithEvents\kefcoreAppWithEvents.csproj).Replace('${{ inputs.CurrentVersion }}', '${{ inputs.NewVersion }}') | Set-Content ${{ github.workspace }}\src\net\templates\templates\kefcoreAppWithEvents\kefcoreAppWithEvents.csproj
      
      - name: Request a PR to commit changes
        uses: peter-evans/create-pull-request@v7
        with:
          branch-suffix: short-commit-hash
          add-paths: src/*.*
          commit-message: Update version from ${{ inputs.CurrentVersion }} to ${{ inputs.NewVersion }}
          title: Update version from ${{ inputs.CurrentVersion }} to ${{ inputs.NewVersion }}
          body: |
            Automated changes by GitHub action fix #254
          reviewers: masesdevelopers
          assignees: masesdevelopers
          labels: enhancement
